// Microsoft Visual C++ generated resource script.
//
#include <windows.h>
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// Deutsch (Deutschland) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_DEU)
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_MAINDIALOG DIALOGEX 0, 0, 250, 136
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "TCP MFC Client mit IP"
FONT 10, "Consolas", 0, 0, 0x1
BEGIN
    LTEXT           "Name:",-1,10,10,30,10
    EDITTEXT        IDC_EDIT_NAME,9,20,120,14
    LTEXT           "Server-IP:",-1,10,35,40,10
    EDITTEXT        IDC_EDIT_IP,10,46,120,14
    DEFPUSHBUTTON   "Senden",IDC_BUTTON_SENDNAME,8,71,60,19
    PUSHBUTTON      "Schlieﬂen",IDC_BUTTON_CANCEL,80,71,50,19
    LTEXT           "",IDC_STATIC_RESPONSE,0,60,230,14
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_MAINDIALOG, DIALOG
    BEGIN
        RIGHTMARGIN, 230
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_MAINDIALOG AFX_DIALOG_LAYOUT
BEGIN
    0
END

#endif    // Deutsch (Deutschland) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

