IDD_SPLASH_DIALOG DIALOGEX 0, 0, 400, 200
STYLE DS_SETFONT | WS_POPUP | WS_VISIBLE
FONT 9, "Segoe UI"
BEGIN
    CONTROL         "",IDC_SPLASH_IMAGE,"Static",SS_BITMAP | SS_CENTERIMAGE,10,10,380,120
    CONTROL         "",IDC_SPLASH_PROGRESS,"msctls_progress32",WS_CHILD | WS_VISIBLE,10,150,380,14
END
